@import "common";

.map-top-bar {
	display: table;
	overflow: hidden;
	padding-left: 1em;
	padding-right: 1em;
	height: 4em;
	@media (max-width: 800px) {
		height: 3em;
	}
	-webkit-font-smoothing: antialiased;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.43;
	letter-spacing: 0.01071em;
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0 rgba(0, 0, 0, 0.14), 0px 1px 10px 0 rgba(0, 0, 0, 0.12);
	width: 100%;
	z-index: 1000;
	box-sizing: border-box;
	flex-shrink: 0;
	flex-direction: column;
	top: 0;
	left: auto;
	right: 0;
	color: rgba(0, 0, 0, 0.87);
	background-color: #e7bea5;
	position: relative;

	& > div {
		display: table-row;

		& > div {
			display: table-cell;
			white-space: nowrap;
			vertical-align: middle;
		}

		.top-bar-left {
			width: 95%;
		}
	}
}

.top-bar-text {
	display: inline-block;
	margin-bottom: 0;
	font-size: 1.7rem;
	@media (max-width: 800px) {
		font-size: 1rem;
	}
}

.leaflet-bar a,
.leaflet-bar a:hover {
	width: 35px;
	height: 35px;
	line-height: 35px;
}
.leaflet-top .leaflet-control {
	margin-top: 20px;
}

.map-container {
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding-top: 3em;
	@media (max-width: 800px) {
		padding-top: 2em;
	}
}

.maxi-map {
	height: 100%;
	width: 100%;
}

.clickToCentreButton {
	cursor: hand;
	cursor: pointer;
	opacity: 0.9;
}

.zoom-circle:before {
	content: " \25CF";
}

.red-dot-marker {
	height: 25px;
	width: 25px;
	background-color: #ff0000;
	border-radius: 50%;
	display: inline-block;
}
.blue-dot-marker {
	height: 25px;
	width: 25px;
	background-color: #0000ff;
	border-radius: 50%;
	display: inline-block;
}
.green-dot-marker {
	height: 25px;
	width: 25px;
	background-color: #00ff00;
	border-radius: 50%;
	display: inline-block;
}
.clickToCentreButton {
	cursor: hand;
	cursor: pointer;
	opacity: 0.9;
}

.badge {
	background-color: $green;
}

.modal-content-only {
	max-width: 90vw !important;
	max-height: 90vh;
	margin: auto;

	.modal-content {
	
		margin: auto;
		max-width: 97vw;
		@media (min-width: $big-screen) {
			max-width: 80vw;
			margin-top: 1em;
		}
		@media (min-width: $small-desktop-screen) {
			max-width: 85vw;
		}
	
		.awssld__controls__arrow-right,
		.awssld__controls__arrow-left {
			opacity: 1 !important;
		}
	}
}