$left-bg-color: #56b8e2; // #69c8e0; // #84b7e1; //#aacae6;
$right-bg-color: rgba(86, 183, 226, 0.15);
$badge-color: rgba(38, 51, 208, 0.5);
$second-badge-color: #e26256;
$orange: #f48a0a;
$second-orange: #ffb030;
$green: #38b858;

$section-gap: 5em;

$big-screen: 1600px;
$small-desktop-screen: 1200px;
$mobile-screen: 840px;
$small-mobile-screen: 485px;

.page-loader {
    vertical-align: "middle";
    height: "100%";
    display: table-cell;
    background: rgb(230, 230, 230);
    .loader:after {
        background: rgb(230, 230, 230) !important;
    }

    h1 {
        display: block;
        font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }
}

.loading-container {
    & > div {
        width: 100%;
        height: 100%;
        display: table;
        text-align: center;
        & > div {
            vertical-align: middle;
            display: table-cell;
        }
    }
    .loader:after {
        background: #fbfbfb;
    }
}

.clickable {
    cursor: pointer;
}