$left-bg-color: #56b7e2; // #69c8e0; // #84b7e1; //#aacae6;
$right-bg-color: aliceblue;
$badge-color: rgba(38, 51, 208, 0.5);
$green: rgba(green, 50%);
$orange : #e28556;
$section-gap: 5em;

$big-screen: 1600px;
$small-desktop-screen: 1200px;
$mobile-screen: 750px;
