@import "../common.scss";


.outer-wrapper {
    & > div {
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 4em;
        height: 100%;

        @media (max-width: $big-screen) {
            padding-left: 3vw;
            padding-right: 3vw;
        }
        @media (max-width: $mobile-screen) {
            padding-top: 0.5em;
        }
    }
}
